* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace;
    color: #000000;
}

html,body {
    height: 100%;
    width: 100%;
}
nav{
    position: fixed;
    z-index: 10;
    display: flex;
    height: 12vh;
    align-items: flex-start;
    width: 100%;
    padding: 2vw 10vw;
    justify-content: space-between;
}
.nav-part2{
    display: flex;
    gap: 2vw;
    align-items: flex-start;
    padding: 1vh 0;
    position: relative;
    z-index: 10;
}
.nav-part2 h4{
    font-size: 0.9vw;
    text-transform: uppercase;
    font-weight: 600;
    margin-bottom: 2.6vw;
}
.nav-part2 h5{
    margin-bottom: 1vw;
    display: none;
    overflow: hidden;
    
}
.nav-part2 h5 span{
    font-size: 0.8vw;
    font-weight: 500;
    transform: translateY(25px);
    display: inline-block;
}



#nav-bottom{
    width: 79%; 
    height: 0vh;
background-color: #FFFFFF;
   position: absolute;
  top: 100%;
  z-index: 9;
  border-bottom: 1px solid#2c2b2b;

}
.bottom-div{
    margin-top: 2vw;
}

.bottom-div h5{
   
    overflow: hidden;
    margin-bottom: 0.3vw;
}
.bottom-div h5 span{
    font-weight: 500;
    display: inline-block;
    font-size: 1vw;
    opacity: 0;
    
}
nav button{
    background-color:#DF2A54 ;
    display: flex;
    align-items: center;
    font-size: 1vw;
    text-transform: uppercase;
    font-weight: 700;
    padding: 10px 20px;
    border-radius: 40px;
    border: none;
    color: rgb(255, 255, 255);

}
nav button svg{
    height: 0.85vw;
    margin-left: 1vw;
}

#page1 {
    height: 100vh;
    width: 100%;
    background-color:#FFFFFF;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}

#page1 h1{
    font-size: 8.5vw;
    text-transform: uppercase;
    font-weight: 900;
    line-height:8.5vw;
    
}
#page1 h1 svg{
    height: 6vw;
    width: 6vw;
    background-color: rgb(223, 42, 84);
    border-radius: 50%;
}

#page1 p{
    text-align: center;
    font-weight: 400;
    margin-top: 2vh;
    
}

#page1-desc{
    display: flex;
    align-items: center;
    justify-content: center;
    

}

#page1-desc h4{
    font-weight: 400;
    font-size: 1vw;
    text-transform: lowercase;
    padding: 5px 10px;
    margin-top: 0.5vw;
    border: 1px solid rgb(53, 50, 50);
    border-radius: 50px;
}

#moving-div{
    background-color: red;
    margin-top: 10vh;
    position: absolute;
    bottom: 3%;
    white-space: nowrap;
    padding: 1.2vw;
    overflow: hidden;
    width: 44%;
}

#moving-div .move{
    display: flex;
    align-items: center;
    gap: 2vw;
}
#moving-div .move img{
    height: 1.2vw;
}
#page2 {
    height: 100vh;
    width: 100%;
    background-color:#111
}